<div class="resume-section-content">
    <form method="post">
        <h2 class="mb-5">İletişim</h2>

        <label>Ad Soyad</label>
        <input type="text" class="form-control" name="Adsoyad" />


        <label>Mail</label>
        <input type="text" class="form-control" name="Mail" />


        <label>Konu</label>
        <input type="text" class="form-control" name="Konu" />


        <label>Mesaj</label>
        <input type="text" class="form-control" name="Mesaj" />
        <br />

        <button class="btn btn-outline-info">Mesaj Gönder </button>
    </form>
    <br />
    <div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3187.292578497437!2d37.29720637531148!3d36.97894885760398!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1531df4a67817647%3A0x446ddfb5902b133a!2sGaziantep%20%C4%B0slam%20Bilim%20ve%20Teknoloji%20%C3%9Cniversitesi!5e0!3m2!1str!2str!4v1733311242307!5m2!1str!2str" width="1200" height="450" style="border:0;" allowfullscreen=""
                loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

</div>
    